<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div align = "left">
            <ion-icon (click)="gotoinformation()" ios="ios-arrow-dropright-circle" md="md-arrow-dropleft-circle"></ion-icon>
              <label align="center"style="padding:5px 75px 5px 90px" >รายละเอียดรถ</label>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide>
                <img src = "../../assets/img/BMW15/BMW 15.jpg">
            </ion-slide>

            <ion-slide>
              <img src = "../../assets/img/BMW15/bmx151.jpg">
            </ion-slide>

            <ion-slide>
              <img src = "../../assets/img/BMW15/bmx152.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW15/bmx154.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW15/bmx155.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW15/bmx156.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW15/bmx157.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW15/bmx158.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW15/bmx159.jpg">
              </ion-slide>
          
          </ion-slides>

              <ion-card-subtitle align = "center">BMW</ion-card-subtitle>
                <ion-card-title>2015 BMW X5 3.0 F15 (ปี 13-17) xDrive30d M Sport SUV AT</ion-card-title>
          </ion-card-header>
          
      
            <ion-card-content>
            Bmw x5 3.0d m sport ปี 2015 วิ่ง น้อย 6x,xxx km รถมือเดียว ชุดแต่ง m จากโรงงาน ใส่ แม็ก BMW X5 3.0d M Sport ปี 2015 วิ่ง น้อย 6x,xxx km 
            รถมือเดียว ชุดแต่ง M จากโรงงาน ใส่ แม็ก แท้ ขอบ 20 นิ้ว รถศูนย์ ยังมี BSI ไม่เคยมีชนไม่มีอุบัติเหตุ จัดไฟแนนท์ ดอกเบี้ยเริ่มต้นเพียง 2.79%*** ขาย 2,850,000
          </ion-card-content>


          <div  style="padding:5px 5px 5px 5px">
            <ion-button expand="full" (click)="gotobuy()">ติดต่อสอบถาม</ion-button> 
          </div>
        </ion-card>
      
    </ion-content>

