<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div align = "left">
            <ion-icon (click)="gotoinformation()" ios="ios-arrow-dropright-circle" md="md-arrow-dropleft-circle"></ion-icon>
              <label align="center"style="padding:5px 75px 5px 90px" >รายละเอียดรถ</label>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide>
                <img src = "../../assets/img/BMW320d/BMW 320d.jpg">
            </ion-slide>

            <ion-slide>
              <img src = "../../assets/img/BMW320d/bmw320.jpg">
            </ion-slide>

            <ion-slide>
              <img src = "../../assets/img/BMW320d/bmw321.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw322.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw323.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw324.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw325.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw326.jpg">
              </ion-slide>

              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw327.jpg">
              </ion-slide>
              <ion-slide>
                <img src = "../../assets/img/BMW320d/bmw328.jpg">
              </ion-slide>
          
          </ion-slides>
              
              <ion-card-subtitle align = "center">BMW</ion-card-subtitle>
                <ion-card-title>2015 BMW X5 3.0 F15 (ปี 13-17) xDrive30d M Sport SUV AT</ion-card-title>
          </ion-card-header>
          
      
            <ion-card-content>
              ***รถคัดเกรด สภาพดี ประวัติดี***

              BMW 320d Modern Line ปี2013
              - สีน้ำตาลพิเศษ เบาะขาว เฉพาะตัว
              - สภาพภายนอก ภายในสวย เดิม
              - รถบ้าน เข้าศูนย์ตลอด ประวัติดี
              - รับประกันไม่มีชนหนัก หรือจมน้ำแน่นอน
              - เครื่องดีเซล ทวินเทอร์โบ ประหยัดสุดๆ
              - อ๊อฟชั่นมาเต็ม จอยาว เนวิ idrive
              - ดอกเบี้ยเริ่มต้น 2.79 ถูกมาก
              - เครดิตดี จัดไฟแนนซ์ได้เต็ม
          </ion-card-content>


          <div  style="padding:5px 5px 5px 5px">
            <ion-button expand="full" (click)="gotobuy()">ติดต่อสอบถาม</ion-button> 
          </div>
        </ion-card>
      
    </ion-content>

