<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<ion-header>
    <ion-title>

        
          <ion-icon (click)="gotologin()" ios="ios-arrow-dropleft-circle-outline" md="md-arrow-dropleft-circle"></ion-icon>
            <span align = "right">
              <ion-icon  (click)="gotoinformation()" ios="ios-arrow-dropright-circle-outline" md="md-arrow-dropright-circle"  ></ion-icon></span>
            
        

    </ion-title>
  
    </ion-header>
        <ion-content> <br>    

          <div align="center">
            <img src = "../../assets/img/sittikorn.png"> <br>      
          <h3><ins> MANAGER </ins></h3>  
            <p>Name : SITTIKORN  SRIPHAI</p>
              <p>Nickname : FEWS</p>
                <p>I am 20 years old</p>

          </div> 

  
        </ion-content>  
