<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<ion-header>
  <ion-toolbar>
    <ion-title style="background:lavenderblush;">
        <button  (click)="turnback()" type="button"style="background:lavenderblush;"><ion-icon name="arrow-round-back"></ion-icon></button>
         
      <label align="center"style="padding:10px 75px 10px 65px" >รายการสินค้า</label>
      
      <button style="background:lavenderblush;"><ion-icon name="cart"></ion-icon></button>
         
     
           
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div style="background:lavenderblush;">
    <b> DIOR  Miss Dior Eau De Parfum</b>

        <ion-slides>
            <ion-slide>
                <img src="https://static-th.lximg.com/images/pictures/46968/closeup_07f328b0c38f7a3a5754463693606864e8f5efca_1576053956_02_packaging_20miss_20dior_20edp_1000.jpg">
        
            </ion-slide>
                
            <ion-slide>
                <img src="https://static-th.lximg.com/images/pictures/34730/closeup_c6e5048872513c6d2966015aea36e024d50ce3bf_1553765493_3348901362849.jpg">
        
            </ion-slide>
        
            <ion-slide>
                <img src="https://static-th.lximg.com/images/pictures/46971/closeup_e21fc7e528953b1715561f2429a2f309ed971f39_1576054271_03_miss_dior_eau_de_parfum.jpg">
        
            </ion-slide>
            <ion-slide>
                <img src="https://static-th.lximg.com/images/pictures/46974/closeup_1812963771e9a7dd8bb548ccc12b834eca32a066_1576054437_04_boards_fran_ois_demachy_edp_clean.jpg">
        
            </ion-slide>
        
           </ion-slides>
            <div  style="padding:0px 0px 0px 20px">
          <b> ข้อมูลผลิตภัณฑ์</b><br>
          </div>
          น้ำหอมสำหรับคุณผู้หญิงที่สื่อถึงคาแรกเตอร์ที่มั่นใจ ท้าทาย และกล้าที่จะเป็นตัวของตัวเอง
           รังสรรค์โดย François Demachy นักปรุงน้ำหอมระดับตำนานจาก DIOR ด้วยกลิ่นจากส้มแมนดาริน,
            พัชชูว์ลี่จากอินโดนีเซีย และดอกมะลิ ให้ความหรูหราสง่างามอย่างไม่อาจลืมเลือน <br>
            

            <div  style="padding:0px 0px 0px 20px">
                <b>ราคา <mark style="background:pink;">฿3,000.00</mark> บาท</b>
                </div>
          

            <div align="center">
                <button  type="button"class="btn btn-success" style="padding:2px 100px 2px 100px">สั่งซื้อ</button>
            </div>


</div>

















    

</ion-content>
