<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<ion-header>
  <ion-toolbar>
    <ion-title>
      <div align = "left">
        <ion-icon (click)="gotoabout()" ios="ios-arrow-dropright-circle" md="md-arrow-dropleft-circle"></ion-icon>
          <label align="center"style="padding:5px 76px 5px 60px" >-- DDSHOP รถมือสอง --</label>
</div>

        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <!-- <div align="center">
    <div  style="background:lavenderblush;">
      <div style="padding:6px 5px 6px 5px" >
           <button style="background:lightcoral;" >sport</button>
           <button  style="background:lightsalmon;"  >motor</button>
           <button  style="background:lightskyblue;" >Microcar</button>
           <button  style="background:navajowhite;" >Supermini</button>
          
           </div>
          </div>
        </div> -->
          
          
    <ion-content>

      <ion-card>
        <ion-card-header>
          <img src = "../../assets/img//BMW15/BMW 15.jpg">
            <ion-card-subtitle align = "center">BMW</ion-card-subtitle>
              <ion-card-title>2015 BMW X5 3.0 F15 (ปี 13-17) xDrive30d M Sport SUV AT</ion-card-title>
          
          </ion-card-header>

          <ion-card-content>
          Bmw x5 3.0d m sport ปี 2015 วิ่ง น้อย 6x,xxx km รถมือเดียว ชุดแต่ง m จากโรงงาน ใส่ แม็ก ...
        </ion-card-content>


        <div  style="padding:5px 5px 5px 5px">
          <ion-button expand="full" (click)="gotodetail()">ดูรายละเอียด</ion-button> 
        </div>
      </ion-card>


 

       
      <ion-card>
        <ion-card-header>
          <img src = "../../assets/img/BMW320d/BMW 320d.jpg">
          
            <ion-card-subtitle align = "center">BMW</ion-card-subtitle>
              <ion-card-title>2013 BMW 320d 2.0 F30 (ปี 11-16) Sedan AT  </ion-card-title>
       
          </ion-card-header>

          <ion-card-content> 
            ***รถคัดเกรด สภาพดี ประวัติดี*** bmw 320d modern line ปี2013 - สีน้ำตาลพิเศษ เบาะขาว ...
           </ion-card-content>

         <div  style="padding:5px 5px 5px 5px">
          <ion-button expand="full" (click)="gotodetail320d()">ดูรายละเอียด</ion-button> 
         </div> 
      
      </ion-card>
        


      <ion-card>
        <ion-card-header>

           <img src = "../../assets/img/BMWX1/BMWX1.jpg">
      
            <ion-card-subtitle align = "center">BMW</ion-card-subtitle>
              <ion-card-title>2017 BMW X1 2.0 F48 (ปี 16-20) sDrive18d M Sport SUV AT </ion-card-title>
   
        </ion-card-header>

      <ion-card-content>
        ผ่อนต่อได้ 2017 bmw x1 ดีเซล m sport สี estoril blue สีหายากมาก สุดสวย รถ0มีbsiถึง2022 ...     
    </ion-card-content>

      <div  style="padding:5px 5px 5px 5px">
       <ion-button expand="full" (click)="gotodetailx1()">ดูรายละเอียด</ion-button> 
     </div>

       </ion-card> 
    </ion-content>
{{fullname}}



    

  
  
  
      
   

  